[submodule "AutoLayout/SnapKit"]
	path = AutoLayout/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "CocoaSwiftPlayer"]
	path = CocoaSwiftPlayer
	url = git@github.com:harryworld/CocoaSwiftPlayer.git
